[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
music21 = "*"
h5py = "*"
keras = "*"
tensorflow = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
