[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
music21 = "~=6.7.1"
h5py = "~=2.10.0"
keras = "~=2.4.3"
tensorflow = "~=2.4.0"
wget = "~=3.2"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
